// Colors
$color-black: #000;
$color-white: #fff;
$color-bg-navbar: #28293e;
$color-bg: #F2F2F2;
$color-transparent: transparent;
$color-light-gray: rgba(255, 255, 255, 0.64);
$color-dark: #391400;
$color-dark-gray: rgba(57, 20, 0, 0.64);
// Font-sizes 
$f-size-xs: 0.875rem; //14px
$f-size-s: 1rem; //16px
$f-size-m: 1.5rem; //24px
$f-size-l: 2.5rem; //40px
$f-size-xl: 4rem; //72px